$black: #000;
$white: #949494;
$pure-white: #ffffff;
$blue: #2d89ec;
$dark-purple: #311e3e;
$dark-pink: #87314e;
$gray: #efefef;
$light-gray: #999999;
$lighten-gray: #d9d9d9;
$dark-gray: #3e3e40;
$rads-gray: #141414;
$rads-light-gray: #99989a;
